<footer>
{%- if page.url != '/all/' -%}
	<a href="/all/" class="no-print">Все месяцы</a>
	<br />
{%- endif -%}
	Проект сделал <a href="https://higimo.ru/">Хиги́мо</a>.
</footer>

{% if isMonth %}
<script>
	const curMonth = location.pathname.replace(/.*?20\d\d-(\d\d)\/$/, '$1')
	if (parseInt(curMonth, 10) === new Date().getMonth() + 1) {
		document.querySelectorAll('.calc').forEach(td => {
			td.innerHTML = td.innerHTML.replace(
				new RegExp(`\\b(${new Date().getDate()})\\b`, 'g'),
				'<b>$1</b>'
			)
		})
	}
</script>
{% endif %}
