<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400&display=swap" rel="stylesheet" />
<style type="text/css">

	html {
		height: 100%;
	}

	body {
		margin: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	body {
		font: 400 18px 'Alegreya Sans', sans-serif;
	}

	.container {
		margin: 0 auto;
		width: calc(100% / 3 * 2);
		max-width: 720px;
		min-width: 320px;
	}

	.content {
		flex: 1 0 auto;
	}

	footer {
		padding: 16px;
		text-align: center;
		flex: 0 0 auto;
		color: #818181;
	}

	a {
		color: #2762e7;
		text-decoration: none;
		transition: all 100ms ease-in;
	}

	a:hover,
	a:visited:hover {
		color: #ff3333;
	}

	a:visited {
		color: #a977c9;
	}

	h1 {
		text-align: center;
		margin: 3em 0 0.5em;
		font-size: 32px;
	}

	.date {
		border-bottom: 1px solid #7e7e7e6b;
		padding-bottom: 4px;
		display: flex;
		justify-content: space-between;
	}

	table {
		margin: 24px auto;
		font-size: 21px;
	}

	td {
		padding: 8px 8px 0;
	}

	thead td {
		font-size: 18px;
		padding-bottom: 8px;
		font-style: italic;
	}

	.main-links {
		list-style: none;
		padding: 0;
		font-size: 24px;
		line-height: 1.5;
		max-width: max-content;
		margin: 32px auto;
	}
</style>


<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(87454304, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/87454304" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
