<!doctype html>
<html lang="ru">
<head>
	<title>{{ title }}</title>
	{% include './head.njk' %}
</head>
<body>
<div class="content">
	<div class="container">
{% if showNavigation %}
		<div class="date">
			<div class="prev">
				{% if pagination.href.previous %}
					<a href="{{ pagination.previousPageHref }}">{{ pagination.page.previous.date | month }}</a>
				{% endif %}
			</div>
			<div class="next">
				{% if pagination.href.next %}
					<a href="{{ pagination.nextPageHref }}">{{ pagination.page.next.date | month }}</a>
				{% endif %}
			</div>
		</div>
{% endif %}
		<h1>{{ h1 }}</h1>
{% if showDescription %}
		<p>
			Информация адресована тем, кто планирует деплоить в прод в ближайшее время.
			Наиболее подходящие даты для этой процедуры всем занкам зодиака, смотрите таблицу.
		</p>
{% endif %}
	</div>
	{{ content | safe }}
</div>
{% include './footer.njk' %}
</body>
</html>
